body {
  margin: 0px;
  padding: 0px;
  background: rgb(155, 186, 255);
  background: radial-gradient(50% 50% at 50% 50%, #eef7ff 29.17%, #eff8ff 100%);
  overflow-x: hidden;
}

a,
div,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ffffff;
}

h1 {
  margin: 0px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-size: 58px;
  font-weight: bold;
  color: #676767;
}

h2 {
  margin: 0px;
  font-family: "Asap", sans-serif;
  font-size: 40px;
  text-align: left;
}

input,
button,
submit {
  padding: 8px 20px;
  background: #0085ff;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  transition: background-color 0.2s, transform 0.2s;
}

button:active {
  transform: scale(1.04);
}

p,
a,
li {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #545454;
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
